<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parse excel</title>

    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>

    <style>
        label {
            display: inline-block;
            width: 100px;
            margin: 10px;
        }

        input[type="submit"] {
            width: 300px;
            margin-top: 20px;
            font-size: 1.4em;
        }
    </style>
    <script>
        function enableFileInputs(isEnable) {
            console.log("Is trying to enable file inputs? " + isEnable);
            $("input:file").each(function () {
                $(this).prop("disabled", !isEnable);
            })
        }

        $(document).ready(function () {
            enableFileInputs(false);
        });
    </script>
</head>
<body>
<form id="form" action="/"
      method="POST"
      enctype="multipart/form-data">
    <div>
        <label>Price vika:</label>
        <input type="file" name="price-vika" required>
    </div>
    <div>
        <label>Price гривна:</label>
        <input type="file" name="price-grivna" required>
    </div>
    <div>
        <label>Price евро:</label>
        <input type="file" name="price-euro" required>
    </div>
    <div>
        <label>Price краски:</label>
        <input type="file" name="price-paints" required>
    </div>
    <br/>
    <div>
        <label>Курс €:</label>
        <input type="number" name="exchange-rate-euro" min="0"
               step="0.01" required>
    </div>
    <br/>
    <div style="display: inherit;">
        <label>Загрузить:</label>
        <div style="display: inline-grid;">
            <label style="width: 250px; margin-left: 0">
                <input type="radio"
                       name="price-type"
                       value="new"
                       onclick="enableFileInputs(true)">
                новые прайсы
            </label>
            <label style="width: 250px; margin-left: 0">
                <input type="radio"
                       name="price-type"
                       value="old"
                       checked="true"
                       onclick="enableFileInputs(false)"
                >
                последние загруженые прайсы<br>
                (обновить курс)
            </label>
        </div>
    </div>
    <input type="submit" value="Обновить прайс">
    <p style="color: red">
        * названия файлов менять нельзя
        <br>
        ** файлы не путать
        <br>
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
</form>
</body>
</html>